WA_GATEWAY_PORT=3939
WA_GATEWAY_HOST=0.0.0.0
WA_ALLOWED_ORIGIN=https://edefterotomasyon.com.tr
WA_GATEWAY_KEY=degistir_bu_anahtar

WA_GRAPH_VERSION=v22.0
WA_PHONE_NUMBER_ID=123456789012345
WA_ACCESS_TOKEN=EAAG...
WA_VERIFY_TOKEN=dogrulama_tokeni
WA_DEFAULT_COUNTRY_CODE=90
